{{ if .Site.IsMultiLingual }}
<nav aria-label="Language switcher">
    {{ range .Site.Languages }}
    {{ if eq . $.Site.Language }}
    <span aria-label="{{ i18n "ariaLanguage" }}{{ .LanguageName }}">{{ .LanguageName }}</span>
      {{ end }}
      {{ end }}
      <span aria-labelledby="dropdown-title">
        {{ range $.Translations }}
        <a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}" aria-label="{{ i18n "ariaTranslation" }}{{ .Language.LanguageName }}">{{ .Language.LanguageName }}</a>
      </span>
      {{ end }}
</nav>
{{ end }}